body {
    background-color: #00498F;
    margin-top: -2vh;
    flex-wrap: wrap;
}

section{
    padding-left: 10vw;
    padding-right: 10vw;
}

section, div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 350px;
}

div {
    flex-direction: column;
}

.logo-mais-texto {
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 5vh;
    justify-content: space-between;
    max-width: 30vw;
}

.logo-mais-texto h1 {
    color: #EBEBEB;
    font-family: "Noto Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    margin-top: 6vh;
}

.logo-mais-texto p {
    color: #FFF;
    text-align: justify;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-top: 3vh;
}

.logo-mais-texto img {
    max-width: 275px;
    min-width: 200px;
}

.imagem-principal {
    max-width: 40vw;
    z-index: -1;

}

.imagem-principal img {
    width: 80%;
}

.sitac-mais-contato {
    background-color: #FFF;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: fit-content;
    align-items: first baseline;
}

.sitac {
    max-width: 35vw;
    gap: 12px;
    align-items: first baseline;
}

.contato{
    align-items: first baseline;
    max-width: 35vw;
    gap: 12px;
}

.contato p{
    color: #000;
    text-align: justify;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

h3 {
    color: #000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

button {
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 0;
    background: #00498F;
    color: #FFF;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

button i {
    margin-right: 6px;
}